# Neon Serverless PostgreSQL Database
DATABASE_URL=postgresql://neondb_owner:password@ep-xxxx.neon.tech/neondb?sslmode=require
DATABASE_URL_UNPOOLED=postgresql://neondb_owner:password@ep-xxxx.neon.tech/neondb?sslmode=require
NEON_BRANCH=production

# Neon Auth
NEON_AUTH_BASE_URL=https://ep-xxxx.neonauth.neon.tech/neondb/auth
NEON_AUTH_JWKS_URL=https://ep-xxxx.neonauth.neon.tech/neondb/auth/.well-known/jwks.json

# Live FastAPI Backend (Render / Railway)
NEXT_PUBLIC_API_URL=https://sihrepopolishedfinal.onrender.com
NEXT_PUBLIC_WS_URL=wss://sihrepopolishedfinal.onrender.com

# Cloudinary Object & Image Storage (100% Free, No Card Required)
NEXT_PUBLIC_CLOUDINARY_CLOUD_NAME=tm4unkuu
NEXT_PUBLIC_CLOUDINARY_UPLOAD_PRESET=agriflow_uploads

